<%- include('./navbar-template'); %>
<div class="jumbotron">
    <h1 class="display-3">Some Message...</h1>
    <p class="lead">We make your life easier.</p>
    <hr class="my-4">
    <p>Sign up and start searching!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Sign UP!</a>
    </p>
  </div>
  </body>
</html>
